.default {
  width: 100%;

  .el-form-item__label {
    width: 100%;
    text-align: left;
    line-height: 45px;
  }

  .el-form-item__content {
    width: 100%;

    & > div {
      width: 100%;
    }
  }
}

.must-fill {
  width: 100%;
  display: flex;
  align-items: center;
  .el-form-item__label {
    color: red !important;
    text-align: left;

    &:after {
      display: inline-block;
      content: "*";
      text-indent: 5px;
      color: red;
    }
  }

  .el-form-item__content {
    width: 100%;

    & > div {
      width: 100%;
    }
  }
}

.optional {
  width: 100%;

  .el-form-item__label {
    width: 100%;
    text-align: left;
    line-height: 45px;
    &:after {
      display: inline-block;
      content: "*";
      text-indent: 5px;
      color: red;
    }
  }

  .el-form-item__content {
    width: 100%;

    & > div {
      width: 100%;
    }
  }
}

.readonly {
  width: 100%;

  input[readonly="readonly"] {
    background: rgba(222, 222, 222, 0.15) !important;
  }

  input[disabled="disabled"] {
    background: rgba(222, 222, 222, 0.15) !important;
  }

  .el-form-item__label {
    width: 100%;
    text-align: left;
    color: #5e5e5e;
    line-height: 45px;
  }

  .el-form-item__content {
    width: 100%;

    & > div {
      width: 100%;

      & input[readonly="readonly"] {
        background: rgba(153, 153, 153, 0.1);
      }
    }
  }
}
